#carouselExampleIndicators {
    margin: 50px 100px 50px 100px;
    
}
#bar {
    text-align: center;
    margin-top: 100px;
}
#barajus {
    text-align: center;
    font-size: 20px;
}
#bio {
    text-align: center;
    margin-bottom: 50px;
}

.carousel-indicators {
    bottom: -1px;
}
.carousel-caption:hover{
    color: #F8A4BA;
}
.carousel-caption:hover h3{
    color: #F8A4BA;
}
.btn-group {
    display: flex;
    justify-content: center;
}
#form-contact{
    width: 80%;
    margin: 0 auto;
}