/*GLOBAL */

* {
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Bree Serif", Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2;
	margin: 0;
	color: #999;
}

h2 {
	font-weight: normal;
	text-align: center;
	color: #FFB19F;
	font-size: 3.5rem;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(153,153,153,0.1);
}

h2:before, h2:after {
	content: " - "
}

a {
	text-decoration: none;
	color: rgba(246, 36, 89,1);
	transition: all 0.3s ease 0s;	
}
.smooth img{
    margin: 30px 45px;
}
img {
	max-width: 100%;
}

/* HEADER */


nav a{
	float: left;
}

nav a {
	display: inline-block;
	color: #999;
	padding: 0 50px;
	text-align: center;

}


/* MAIN */
section a {
	padding: 10px 20px;
}

.container {
	background: url(img/banner.jpg) center;
	background-size: cover;
	padding: 0 75px 150px 0;
}

#presentation p {
	padding-bottom: 50px;
}

#contact{
	padding: 35px 0;
	text-align: center;
}

.smooth {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin: 0;
	text-align: center;
	padding: 0 20px;
}



/* Formulaire */
form {
	text-align: center;
}

input, textarea {

	margin: 1%;
	color: #666;
	background-color: transparent;
	border-radius: 50px;
	border: 1px solid #ccc;
	font-family: Arial;
	font-size: 1.6rem;
	text-align: center;
}
input {
	padding: 20px 75px 20px 75px;
}
textarea{
	padding: 20px 200px 20px 200px;
}
button {
	margin: 25px 0;
	padding: 15px 25px;
	border: 0;
	color: white;
}

button:hover {
	cursor: pointer;
}

button[type="submit"] {
	background-color: #FFB19F;
}

button[type="reset"] {
	background-color: #999;
}
iframe{
	width: 100%;
	border-top: 2px solid #64656A;
}
/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}

@media screen and (max-width: 1024px) {
	form {
		text-align: center;
	}
	
	input, textarea {

		margin: 1%;
		color: #666;
		background-color: transparent;
		border-radius: 50px;
		border: 1px solid #ccc;
		font-family: Arial;
		font-size: 1.6rem;
		text-align: center;
	}
	input {
		padding: 20px 75px 20px 75px;
	}
	textarea{
		padding: 20px 200px 20px 200px;
	}

	header img {
		width: 50%;
		padding: 20px 0;
	}

	nav {
		float: none;
	}

	main {
		padding: 25px;
	}
}

@media screen and (max-width: 767px) {

	html {
		font-size: 50%;
	}

	nav a {
		display: inline-block;
		color: #999;
		padding: 0 20px;
		text-align: center;
	
	}
	#presentation {
		background-position: top left;
		padding-left: 20px;
		padding-right: 20px;
	}

	input {
		float: none;
	}

	input, textarea {
		width: 100%;
	}

}